[SddmGreeterTheme]
Name=Earth
Description=A modern nerd-font based SDDM theme
Author=Tanis
License=GPLv3
Type=sddm-theme
Version=1.0
Website=https://github.com/tanisperez/dotfiles
Screenshot=preview.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=earth
Theme-API=2.15
QtVersion=6
